node_modules/
.expo/
dist/
web-build/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Native
ios/
android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Env
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Supabase local
supabase/.branches/
supabase/.temp/
